.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.itemID {
  width: 120px;
  text-align: center;
  border-radius: 30px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 550px;
  min-width: 300px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: 0 0 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
table th {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: left;
  color: grey;
  min-width: 35px;
}

td {
  text-transform: lowercase;
  font-size: 13px;
  font-family: monospace;
  text-align: left;
}

#doneTasksTable td {
  color: green;
}

#allTasksTable td {
  color: red
}
body {
  background: darkslategrey;
}

h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
}
h3 {
  text-align: left;
  text-decoration: underline;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: darkslategrey
}

.appDescription {
  font-family: monospace;
  font-size: 13px;
}

.addItemDiv {
  margin: 30px 10px;
}

.btn{
  transition-duration: 0.4s;
  background-color: darkslategrey;
  border: 1px solid darkslategrey;
  border-radius: 5px;
  color: white;
  padding: 12px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 1px 1px 1px 0 #888888;
}

.btn:hover {
  background-color: white;
  color: darkslategrey;
  border: 1px solid darkslategrey;
}

.btnAdd {
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.btnRemove {
  background-color: darkred;
  border: 1px solid darkred;
}

#connectedWelcome {
  font-family: monospace;
  font-size: 15px;
}